body {

    background: white;
}

.password:hover {
    border: #0085E5 3px solid;
}

.table {
    box-shadow: 0 0 10px #9ad5ff;
    ;
    background-color: white;
    position: absolute;
    width: 1200px;
    height: 550px;
    left: 250px;
    top: 0;
    border: 2px white solid;
    border-radius: 20px;
    padding: 10px;
    margin: 200px;
}

.WB {

    position: absolute;
    width: 380px;
    height: 59px;
    left: 430px;
    top: 10px;

    /* font-family: 'Montserrat'; */
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    /* line-height: 59px; */
    /* identical to box height */


    color: #242E35;
}

.loginusername {
    position: absolute;
    width: 285px;
    height: 49px;
    left: 480px;
    top: 100px;

    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-style: bold;
    font-weight: 500;
    font-size: 40px;
    line-height: 49px;
    /* identical to box height */


    color: #0085E6;
}

input {

    border: white;
    text-align: start;
}

.X {
    font-size: 25px;
    position: absolute;

    left: 87.99%;
    right: 10.21%;
    top: 15.38%;
    bottom: 78.38%;
    background-color: #0085E6;
    border-radius: 50%;
}

.dha {

    position: absolute;
    margin-top: 70px;
    margin-left: 10px;
    width: 300px;
    height: 20px;
    left: 406px;
    top: 306px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;

    /* identical to box height */


    color: black;
}

.register {
    position: absolute;
    margin-top: 40px;
    width: 359px;
    height: 24px;
    left: 510px;
    top: 338px;
    background-color: transparent;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #0085E6;
}

button {
    border: white;
}

.btn:active,
.btn:focus {
    border: 0.5em solid #0085E6;
    /* here configure as your needs */
    color: white;
}

.password {
    position: absolute;
    width: 530px;
    height: 70px;
    left: 404px;
    top: 214px;
    /* border:1px solid black; */
    background: #F5FBFF;
    border-radius: 80px;


}

.btn {
    position: absolute;
    width: 170px;
    height: 54px;
    left: 757px;
    top: 225px;
    color: white;
    background: #0085E6;
    border-radius: 80px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

    color: #FFFFFF;
}

.forget-password {
    margin: 15px;
    position: absolute;
    width: 148px;
    height: 20px;
    left: 506px;
    top: 306px;
    background-color: transparent;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */


    color: #0085E6;
}